.general-button {
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  gap: 5px;
  padding: 10px;
  background-color: var(--signature);
  font-weight: 600;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 5px var(--white02);
  }
}
.google-auth-btn {
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  gap: 5px;
  padding: 10px;
  background-color: var(--white);
  color: #333;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 5px var(--white02);
  }
  .google-icon {
    width: 16px;
    height: 18px;
    background-size: cover;
  }
}
.x-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 10px var(--white02);
  }
}
